Examples/0702test/rgb.avi
Examples/0702test/time.txt
Testing/depth_images
Testing/rgb_images
Testing/frame_metadata.csv
Testing/3d_reconstruction.ply
Testing/cam1_calibration
Testing/cam2_calibration
Testing/camera_matrix.npy
Testing/distortion_coefficients.npy
Testing/extrinsics_rotation.npy
Testing/extrinsics_translation.npy
test.bag
Testing/cam1.ply
Testing/cam2.ply
Testing/CC_reconstruction.bin
Testing2/depth_images
Testing2/rgb_images
Testing2/frame_metadata.csv
Testing2/camera_intrinsics.csv
Testing2/point_clouds
Testing3/depth_images
Testing3/rgb_images
Testing3/frame_metadata.csv
Testing3/camera_intrinsics.csv
Testing3/point_clouds
Testing3/depth_colourmaps
Testing3/greyscale_maps
