Examples/0702test/rgb.avi
Examples/0702test/time.txt
Testing/depth_images
Testing/rgb_images
Testing/frame_metadata.csv
Testing/3d_reconstruction.ply
Testing/cam1_calibration
Testing/cam2_calibration
Testing/camera_matrix.npy
Testing/distortion_coefficients.npy
Testing/extrinsics_rotation.npy
Testing/extrinsics_translation.npy
test.bag
Testing/cam1.ply
Testing/cam2.ply
Testing/CC_reconstruction.bin
Testing2/depth_images
Testing2/rgb_images
Testing2/frame_metadata.csv
Testing2/camera_intrinsics.csv
Testing2/point_clouds
Testing3/depth_images
Testing3/rgb_images
Testing3/frame_metadata.csv
Testing3/camera_intrinsics.csv
Testing3/point_clouds
Testing3/depth_colourmaps
Testing3/greyscale_maps
CPP-Testing2/net_rs_cam_capture/build
CPP-Testing2/build
CPP-Testing2/rs_cam_capture/build
CPP-Testing2/.vscode
CPP-Testing2/rs_cam_capture/.idea
CPP-Testing2/rs_cam_capture/cmake-build-debug
Testing5-Network_Multicam/multicam_network_capture/.idea/.gitignore
Testing5-Network_Multicam/multicam_network_capture/.idea/editor.xml
Testing5-Network_Multicam/multicam_network_capture/.idea/misc.xml
Testing5-Network_Multicam/multicam_network_capture/.idea/modules.xml
Testing5-Network_Multicam/multicam_network_capture/.idea/multicam_network_capture.iml
Testing5-Network_Multicam/multicam_network_capture/.idea/vcs.xml
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/build.ninja
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/cmake_install.cmake
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeCache.txt
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/.cmake/api/v1/query/cache-v2
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/.cmake/api/v1/reply/cache-v2-25e824ede0955f3bed21.json
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-057754f6df1e173f250d.json
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-97d3d227c56cba11c176.json
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/.cmake/api/v1/reply/index-2025-02-10T13-35-59-0271.json
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/.cmake/api/v1/reply/target-multicam_network_capture-Debug-7cd806abcfa65f26edf0.json
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7096c62e23c342eb06a8.json
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/clion-environment.txt
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/cmake.check_cache
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/rules.ninja
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.out
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.out
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
Testing5-Network_Multicam/multicam_network_capture/cmake-build-debug/Testing/Temporary/LastTest.log
